$def-font-color	: #5c5d5f;

$active-back	: #00adef;
$active-color	: white;
$unactive-bar	: #bfbfbf;

$sidebar-width	: 375px;
$sidebar-color	: #ebedf1;
$circle-color	: white;

$stacked-back	: #f7f8fa;
$swim-delimiter	: #d3d3d3;
