#stacked-container {
    #radio-container {
        width: 100%; text-align: center; padding: 10px 0px 15px 0px; font-size: 12px;
        & > label { margin: 0px 15px; }
    }
    #stacked-svg {
        .fill-none {
            fill : transparent!important;
        }


        #legend-group {
            rect { width: 18px; height: 18px; cursor: pointer; }
        }

        #zoom-pane {
            fill: none;
            pointer-events: all;
            cursor: -webkit-grab;
        }
    }
}
