@import "tagselector";
@import "chart";

#wrapper { height: 100%; margin: 0px; padding: 0px; overflow: hidden; }
#graph-container {
    display: inline-block; float: left;
}
#swimlane-container {
    display: inline-block; float: right;
}
#spinnerOverlay {
    width: 100%;
    height: 100%;
    background: #E9EEF2;
    z-index: 28;
    // display: none;
}
