#tagselector-container {
    // height: $swimlane-height; width: 100%;
    #separator-line {
        stroke : $swimlane-separator;
    }
    .swimlane-lane {
        stroke : $swimlane-color; stroke-width : $swimlane-width;
    }
    .floor-lane-selected {
        fill : $swimlane-sel-clr;
        fill-opacity : $swimlane-sel-opac;
    }
    circle.nodes-selected {
        fill : #aec7e8!important;
    }
}
