#tagselector-container {
    // height: $swimlane-height; width: 100%;
    #graph-container {
        circle.nodes-selected {
            fill : #aec7e8!important;
        }
    }
    #swimlane-container {
        position: relative;
        #swimlane-chart {
            #separator-line {
                stroke : $swimlane-separator;
            }
            .swimlane-lane {
                stroke : $swimlane-color; stroke-width : $swimlane-width;
            }
            .floor-lane-selected {
                fill : $swimlane-sel-clr;
                fill-opacity : $swimlane-sel-opac;
            }
        }
        #button-changer {
            position: absolute; font-size: 10px; padding: 5px 10px; border: 1px solid; border-radius: 15px; left: 15px; top: 5px;
        }
        #datasets-wrapper {
            display: none; overflow-x: hidden; overflow-y: auto; position: relative; top: 35px;
            #datasets-container {
                width: calc(100% - 20px); padding: 0px 10px 10px;
                div.data-button {
                    border: 1px solid; padding: 5px 10px; font-size: 12px; border-radius: 15px; margin: 5px 5px; display: inline-block;
                    max-width: 225px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
                }
            }
        }
    }
}
