$pulselab-color     : #00ADEF;
$width-treshold     : 992px;

$def-background     : $pulselab-color;
$def-white          : #F1F3FA;

$nav-width          : 300px;
$nav-color          : #696a6c;
$content-color      : $def-white;
