@import "statics";
@import "mixins";

@import "components/root";

a { cursor: pointer; text-decoration: none; color: black; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
img { max-width: 100%; height: auto; }
textarea { resize: none; }
body { font-family: 'Open Sans', sans-serif; }
*:focus, select { outline: none!important; }
.bold { font-weight: 700 !important; }
.uppercase { text-transform: uppercase !important; }
.nopadding { padding: 0 !important; margin: 0 !important; }
.float-left { float: left; }
.float-right { float: right; }
.half-width { width: 50%; }
.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body, #root { width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; }
